<html>
<head>
	<title>Display First Ten Natural Numbers</title>
</head>
<body>
	<h1>First Ten Natural Numbers:</h1>
	<ul>
		<%
		for(int i = 1; i <= 10; i++) {
		%>
		<li><%= i %></li>
		<%
		}
		%>
	</ul>
</body>
</html>
